<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registrar Empleado</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <h1>Registrar Empleado</h1>
        <form action="/Empleado" method="post">
            <label for="nombre_empleado">Nombre del Empleado:</label><br>
            <input type="text" id="nombre_empleado" name="nombre_empleado"><br>
            <label for="rfc_empleado">RFC del Empleado:</label><br>
            <input type="text" id="rfc_empleado" name="rfc_empleado"><br>
            <label for="direccion_empleado">Dirección del Empleado:</label><br>
            <input type="text" id="direccion_empleado" name="direccion_empleado"><br>
            <input type="submit" value="Registrar Empleado">
        </form>
    </body>
</html>