body {
    background-image: url('fondo.jpg');
    background-size: cover; /*la imagen cubre toda la pantalla*/
    background-repeat: no-repeat; /*evitará que la imagen se repita*/
    background-position: center; /*centrará la imagen*/
}

form {
    background: rgb(255, 255, 255); /*Fondo blanco con opacidad para el formulario*/
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto; /*Centrar el formulario horizontalmente*/
}

table {
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

div {
    background-color: rgb(160, 241, 93);
    text-align: center;
    width: 500px;
}