<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registrar Proveedor</title>
        <link rel="stylesheet" type="text/css" href="styles.css"> 
    </head>
    <body>
        <h1>Registrar Proveedor</h1>
        <form action="/Proveedor" method="post">
            <label for="nombre_proveedor">Nombre del Proveedor:</label><br>
            <input type="text" id="nombre_proveedor" name="nombre_proveedor"><br>
            <label for="telefono_proveedor">Telefono del Proveedor:</label><br>
            <input type="text" id="telefono_proveedor" name="telefono_proveedor"><br>
            <input type="submit" value="Registrar Proveedor">
        </form>
    </body>
</html>